---
layout: default
title: "What is it?"
group: "navigation"
order: 1
---

<section class="bg-primary" style="margin-top: -60px; margin-bottom: -60px;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 text-white text-center">
        <h1 class="font-weight-light">Real-time <b id="typed-element"></b> </h1>
      </div>
      <div class="col-lg-7 text-center">
        <p style="font-size: 20px; color:rgba(255, 255, 255, 0.75)">
          Iobio uses immediate visual feedback to make understanding
          complex genomic datasets more intuitive, and analysis more interactive
        </p>
        <p style="font-size: 20px; color:rgba(255, 255, 255, 0.75)">
          <button data-toggle="modal" data-target="#exampleModalCenter" type="button" class="btn btn-outline-light"><i class="material-icons" style="vertical-align: middle;">play_circle_filled</i> <span>WATCH THE VIDEO</span> </button>
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">What is iobio?</h5>
        <button onclick="StopVideo()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-lg-12" id="modalBody">
          <script type="text/javascript">
          </script>
          <div class="landing-video" id="vid">
            <video
            id="MY_VIDEO_1"
            class="video-js vjs-default-skin video-16-9"
            controls
            preload="auto"
            data-setup="{}"
            poster="public/images/animation_still_white_bg_small.png"
            width="640" height="264"
          >
          <source id="playerSrc" src="https://s3.amazonaws.com/iobio/Al(music).small.mp4" type='video/mp4'>
          </video>
          </div>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>


<section class="half bg-primary">
  <div class="half-bg bg-light pb-10">
  </div>
  <div class="container-full mb-10">
    <div class="row gutter-0 justify-content-center">
      <div style="margin-top:-10px" class="col-12">
        <div class="owl-carousel owl-carousel-showcase owl-carousel-fluid" data-items="[2,2,1]" data-center="true" data-nav="true" data-margin="40" data-loop="true" data-dots="true"	data-autoplay="true"  data-autoplay-timeout="7000" data-autoplay-speed="7000">
        <!-- <div class="owl-carousel owl-carousel-showcase owl-carousel-fluid" data-items="[3,2,1]" data-center="true" data-nav="true" data-margin="20" data-loop="true" data-dots="true"> -->
          <div  class="card card-showcase lift" >
            <a href="https://vcf.iobio.io/?species=Human" target="_blank">
              <img id="vcf" class="card-img-top" src="/public/images/slider/vcf@2x.png" alt="Documentation Layout 1">
            </a>
          </div>
          <div class="card card-showcase lift">
            <a href="https://gene.iobio.io/" target="_blank">
              <img id="gene" class="card-img-top" src="/public/images/slider/gene@2x.png" alt="Documentation Layout 2">
            </a>
          </div>
          <div class="card card-showcase lift">
            <a href="https://genepanel.iobio.io/" target="_blank">
              <img id="genepanel" class="card-img-top" src="/public/images/slider/genepanel@2x.png" alt="Changelog">
            </a>
          </div>
          <div class="card card-showcase lift">
            <a href="http://bam.iobio.io/" target="_blank">
              <img id="bam" class="card-img-top" src="/public/images/slider/bam@2x.png" alt="Documentation Layout 4">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Section to display tools with links -->
<section class="pt-0">
  <div class="container">
    <!-- heading of the section -->
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <h2><b>Tools for</b> Genomic Analysis</h2>
        <span>Iobio provides free and open-source tools that help to generate gene list, variant interrogation!</span>
      </div>
    </div>

    <!-- Name of tools with the links -->
    <div class="row align-items-center">
      <div class="col-lg-3">
        <div class="card lift">
          <div class="card-body">
            <div class="row gutter-2 align-items-center">
              <div class="col">
                <h5 class="type-title"><strong>VARIANT INTERROGATION</strong></h5>
                <h3 class="font-weight-normal mb-2">gene.iobio</h3>
                <ul class="list-group list-group-minimal">
                  <li class="list-group-item">
                    <span>
                      A web app for investigating
                      potential disease-causing
                      variants
                    </span>
                  </li>
                </ul>
                <a href="https://gene.iobio.io/" class=" mt-1 text-blue">Get Started <i class="material-icons" style="vertical-align: middle;">navigate_next</i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="card lift">
          <div class="card-body">
            <div class="row gutter-2 align-items-center">
              <div class="col">
                <h5 class="type-title"><strong>GENE LIST GENERATION</strong></h5>
                <h3 class="font-weight-normal mb-2">genepanel.iobio</h3>
                <ul class="list-group list-group-minimal">
                  <li class="list-group-item">
                    <span>
                      A web app for investigating
                      potential disease-causing
                      variants
                    </span>
                  </li>
                </ul>
                <a href="https://genepanel.iobio.io/" class=" mt-1 text-blue">Get Started <i class="material-icons" style="vertical-align: middle;">navigate_next</i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="card lift">
          <div class="card-body">
            <div class="row gutter-2 align-items-center">
              <div class="col">
                <h5 class="type-title"><strong>ALIGNMENT INSPECTOR</strong></h5>
                <h3 class="font-weight-normal mb-2">bam.iobio</h3>
                <ul class="list-group list-group-minimal">
                  <li class="list-group-item">
                    <span class="link">
                      An alignment data inspector
                        tool that quickly samples bam
                        files and visualizes a series of
                        metrics
                    </span>
                  </li>
                </ul>
                <a href="http://bam.iobio.io/" class=" mt-1 text-blue">Get Started <i class="material-icons" style="vertical-align: middle;">navigate_next</i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="card lift">
          <div class="card-body">
            <div class="row gutter-2 align-items-center">
              <div class="col">
                <h5 class="type-title"><strong>VARIANT INSPECTOR</strong></h5>
                <h3 class="font-weight-normal mb-2">vcf.iobio</h3>
                <ul class="list-group list-group-minimal">
                  <li class="list-group-item">
                    <span class="link">
                      A variant data inspector
                        Tool that quickly samples
                        vcf files and visualizes a series
                        of metrics
                    </span>
                  </li>
                </ul>
                <a href="https://vcf.iobio.io/" class=" mt-1 text-blue">Get Started <i class="material-icons" style="vertical-align: middle;">navigate_next</i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- End name of the tools section -->
  </div>
</section>

<!-- cta -->
<div class="half ">
  <span class="half-bg bg-white"></span>
  <div class="half-block">
    <div class="row">
      <div class="col">
        <div class="cta boxed no-border bg-primary p-3 p-md-5">
          <div class="row justify-content-center">
            <div class="col text-white">
              <h3><b>Sign up</b> to hear about our new apps!</h3>
              <link href="http://cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
              <form
                class="form-inline"
                action="http://iobio.us9.list-manage.com/subscribe/post?u=ddbe7be3d1ca18356bf5c0404&amp;id=ace369fbec"
                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate style="padding: 0px"
                >
                <input type="email" value="" style="width:80%" class="form-control required email" name="EMAIL" id="mce-EMAIL" aria-describedby="emailHelp" placeholder="Enter email" required>
                <input type="submit" id="mc-embedded-subscribe" value="Subscribe" name="subscribe" class="btn btn-primary" style="margin:0"></input>
              </form>
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>
              <!-- <script type='text/javascript' src='http://s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script> -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- / cta -->


<!-- blog posts -->
<section class="bg-white">
  <div class="container">
    <!-- Heading -->
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <h2>Recent <b>Blog Posts</b></h2>
      </div>
    </div>

    <!-- Blog snippets -->
    <div class="row justify-content-center">
      {% for post in site.posts limit:6 %}
      <div class="col-lg-4">
        <div class="card lift mb-2">
          <a href="{{ post.url }}">
            <img class="card-img-top blog-card-snippet" alt="{{post.title}}" src={{ post.image }}>
          </a>
          <div class="user">
            <img class="avatar avatar-lg avatar-headshot float-right" src="/public/images/team/{{ post.tags | first | replace:' ','_'  }}.png" alt="Avatar" >
          </div>
          <div class="card-body">
            <a href="{{ post.url }}">
              <h5 class="card-title">{{ post.title }}</h5>
            </a>
            <p class="card-text">{{ post.subtitle }}</p>
            <p class="card-text"><small class="text-muted">BY {{ post.tags | first }} ON {{ post.date | date: "%b %-d, %Y" }}</small></p>
          </div>
        </div>
      </div>
      {% endfor %}
      <a href="/blog.html"><button type="submit" class="btn btn-primary">View More </button></a>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="container">
            <h2><b>For Users</b></h2>
            <br>
          <div>
            We are constantly trying to improve our apps. If our apps are missing something, let us know how we can improve (contact us).
            <br>
            Also we are actively building new applications in numerous biological research areas. <br>
            If you feel iobio would be a good fit for your area of research and would like to collaborate contact us!
            <br><br>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="landing-video">
          <video
          id="MY_VIDEO_1"
          class="video-js vjs-default-skin video-16-9"
          controls
          preload="auto"
          data-setup="{}"
          poster="public/images/animation_still_white_bg_small.png"
          width="640" height="264"
        >
        <source src="https://s3.amazonaws.com/iobio/Al(music).small.mp4" type='video/mp4'>
        </video>
        </div>
      </div>
    </div>
  </div>

</section>
<!-- Collaborators -->
<section class="bg-white d-none d-sm-block">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <h2>Our <b>Collaborators</b></h2>
        <p>They include renowned labs from around the world!</p>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-1">

      </div>
      <div class="col-md-4 col-sm-4 col-xs-4 col-lg-2">
        <img src="/public/images/slider/collab1@2x.png" alt="..." class="rounded">
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4 col-lg-2">
        <img src="/public/images/slider/collab2@2x.png" alt="..." class="rounded">
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4 col-lg-2">
        <img src="/public/images/slider/collab3@2x.png" alt="..." class="rounded">
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4 col-lg-2">
        <img src="/public/images/slider/collab4@2x.png" alt="..." class="rounded">
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4 col-lg-2">
        <img src="/public/images/slider/collab5@2x.png" alt="..." class="rounded">
      </div>
    </div>
  </div>
</section>

<!-- mailchimp code -->
<!-- <div style="text-align:center;width: 400px; float:left">
  <div style="margin-top:20px; ">

    <link href="http://cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
    <style type="text/css">
      #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }

    </style>
    <div id="mc_embed_signup">
    <form
    action="http://iobio.us9.list-manage.com/subscribe/post?u=ddbe7be3d1ca18356bf5c0404&amp;id=ace369fbec"
    method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate style="padding: 0px">
        <div id="mc_embed_signup_scroll">
      <div style="font-size: 14px; color: rgb(110,110,110);margin-bottom: 4px">

      </div>
    <div class="mc-field-group" style="width:100%; margin:0px">
      <label for="mce-EMAIL" style="color:rgb(150,150,150">Sign up to hear about new apps and news for developers </label>
      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
    </div>
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>
        <div style="position: absolute; left: -5000px;">
          <input type="text" name="b_ddbe7be3d1ca18356bf5c0404_ace369fbec" tabindex="-1" value=""></div>
          <div class="clear" style=""><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" style="background: #b70e11"></div>
        </div>
    </form>
    </div>
    <script type='text/javascript' src='http://s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>

  </div>
</div>
<div style="clear:both"></div>
</div> -->

<!-- SIDEBAR -->
<!-- <div class='row' >
  <div class='col-sm-2'>
    <div class='news'>
      <ul>
        {% for post in site.posts limit:20 %}
          {% unless post.next %}
            <h4>{{ post.date | date: '%Y %b' }}</h4>
          {% else %}
            {% capture year %}{{ post.date | date: '%Y %b' }}{% endcapture %}
            {% capture nyear %}{{ post.next.date | date: '%Y %b' }}{% endcapture %}
            {% if year != nyear %}
              <h4>{{ post.date | date: '%Y %b' }}</h4>
            {% endif %}
          {% endunless %}

          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </div> -->

<!--     {% for post in site.posts limit:6 %}
      <li class="TEST - - news-item">
        <div class='snippet-title'><a href="{{ post.url }}">{{ post.title }}</a></div>
        <div class='news-text'>
          <div class='snippet-byline'>BY {{ post.tags | first }} ON {{ post.date | date: "%b %-d, %Y" }}</div>

        </div>
      </li>
    {% endfor %} -->
<!--
  </div>
  <div class='col-sm-10' style="margin-top:50px">
      <div style='width: 950px; margin-left:auto; margin-right:auto'>
          <div class='landing-intro' style="font-size:30px;text-align:left;margin: 10px 0px 30px 0px; float:left; width:426px">
            <div style="color:#123d53;">

              Real-time Genomic Analysis
            </div>
            <div class="description" style="margin-top: 10px;font-size:16px; color:#2d8fc1">iobio uses immediate visual feedback to make understanding complex genomic datasets more intuitive, and analysis more interactive
            </div>
          </div>
          <div class='landing-video' style="float:right">
            <video id="MY_VIDEO_1" class="video-js vjs-default-skin " style="margin: 0 auto;width:500px;" controls
              preload="auto" width="500" height="282" poster="public/images/animation_still_white_bg_small.png"
              data-setup="{}">
              <source src="https://s3.amazonaws.com/iobio/Al(music).small.mp4" type='video/mp4'>
              <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
            </video>
          </div>

          <div style="text-align:center;width: 400px; float:left">
            <div style="margin-top:20px; ">

              <link href="http://cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
              <style type="text/css">
                #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }

              </style>
              <div id="mc_embed_signup">
              <form action="http://iobio.us9.list-manage.com/subscribe/post?u=ddbe7be3d1ca18356bf5c0404&amp;id=ace369fbec" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate style="padding: 0px">
                  <div id="mc_embed_signup_scroll">
                <div style="font-size: 14px; color: rgb(110,110,110);margin-bottom: 4px">

                </div>
              <div class="mc-field-group" style="width:100%; margin:0px">
                <label for="mce-EMAIL" style="color:rgb(150,150,150">Sign up to hear about new apps and news for developers </label>
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
              </div>
                <div id="mce-responses" class="clear">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
                </div>
                  <div style="position: absolute; left: -5000px;">
                    <input type="text" name="b_ddbe7be3d1ca18356bf5c0404_ace369fbec" tabindex="-1" value=""></div>
                    <div class="clear" style=""><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" style="background: #b70e11"></div>
                  </div>
              </form>
              </div>
              <script type='text/javascript' src='http://s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>

            </div>
          </div>
          <div style="clear:both"></div>
        </div>
        <div class="divider" ></div>
        <div class='section'>
          <div class='section-title'>Try It</div>
          <ul id="apps">
            <li>
              <div class='app'>
                <div class="app-title"><a href="http://gene.iobio.io/">gene.iobio.io</a></div>
                <a href="http://gene.iobio.io"><img src="public/images/gene.iobio_wide.png" style="height:247px" ></img></a>
                <div class="description">a web app for investigating potential disease-causing variants
                </div>
              </div>
            </li>
            <li>
              <div class='app'>
                <div class="app-title"><a href="https://genepanel.iobio.io/">genepanel.iobio.io </a></div>
                <a href="https://genepanel.iobio.io/"><img src="public/images/panel.iobio_wide.png" style="height:247px" ></img></a>
                <div class="description">a web app for generating list of genes based on suspected conditions and phenotypes.
                </div>
              </div>
            </li>
          </ul>
          <div style="margin-top:30px;font-size:18px"><a href="applications.html"> See more</a></div>
        </div>
      </div>
    </div>  -->

    <!-- most recent blog posts -->
    <!-- <div class="divider" ></div> -->
      <!-- <div class='section' style='max-width: 1021px; margin-left: auto; margin-right: auto;'>
        <div class='section-title'>Recent Blog Posts</div>
          <div class="posts blog-container" style="margin-left:-89.5px;height:300px;">
            {% for post in site.posts limit:6 %}
              <li class="snippet">

                 <div class='snippet-thumbnail'> <a href="{{ post.url }}"><img src={{ post.image }}></img></a></div>
                <div class='snippet-text'>
                  <div class='snippet-byline'>BY {{ post.tags | first }} ON {{ post.date | date: "%b %-d, %Y" }}</div>
                  <div></div>
                  <img class='snippet-headshot' src="/public/images/team/{{ post.tags | first | replace:' ','_'  }}.png"/>
                  <div class='snippet-title'><a href="{{ post.url }}">{{ post.title }}</a></div>
                  <div class='snippet-subtitle'>{{ post.subtitle }}</div>
                </div>
              </li>
            {% endfor %}
          </div>
      </div>

</div> -->
