<section class="bg-dark" style="padding-top:60px; padding-bottom:60px; background-color: #202020 !important">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5 ">
        <div class="container">
          <center >
            <b style="color:white; font-size:23px">Your next discovery is waiting</b>
            <br><br>
            <button type="submit" class="btn btn-sm btn-outline-light">Try the apps now <i class="material-icons" style="vertical-align: middle;">navigate_next</i></button>
          </center>
        </div>
      </div>
      <div class="col-lg-1" style="height:20px">

      </div>
      <div class="col-lg-6 ">
        <div class="container">
          <center >
            <b style="color:white; font-size:22px">Stay updated by signing up for our newsletter</b>
            <br><br>
            <div class="container">
              <form class="form-inline" style="margin-left:60px; ">
                <input type="email" style="width:60%; background-color:#ffffffe3" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <button type="submit" class="btn btn-outline-light btn-sm">Subscribe</button>
              </form>
            </div>
          </center>

        </div>
      </div>
    </div>
  </div>
</section>


<footer style="padding-bottom:50px">
  <div class="container">
    <div class="row gutter-3">
      <div class="col-11 col-md-3 offset-1">
      <div class="container">
        <p href="/" class="navbar-brand" style="font-size: 35px; font-weight: 600; color:back">
          IOBIO
        </p>
      </div>
      </div>
      <div class="col-12 col-md-6 offset-2">
        <p class="mb-4"> Developed in the MarthLab, University of Utah</p>
        <div class="row">
          <div class="col">
            <ul class="list-group list-group-minimal">
              <li class="list-group-item"><a href="/applications.html" class="link">Applications</a></li>
              <li class="list-group-item"><a href="" class="link">Developers</a></li>
              <li class="list-group-item"><a href="/blog.html" class="link">Blog</a></li>
              <li class="list-group-item"><a href="/user_guides.html" class="link">User Guides</a></li>
            </ul>
          </div>
          <div class="col">
            <ul class="list-group list-group-minimal">
              <li class="list-group-item"><a href="/about.html" class="link">About Us</a></li>
              <li class="list-group-item"><a href="/support.html" class="link">Support</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>



<div  style="position:relative; padding-top:30px; background:white; height:auto">
  <div class="row justify-content-center" style=" bottom:0">

    <div class="col-3 offset-2">
      <img src="/public/images/slider/marthlab.png" alt="..." style="height:55px">
    </div>
    <div class="col-3 ">
      <img src="/public/images/slider/ustar-ucgd-logo.jpg" alt="..." style="height:55px">
    </div>
    <div class="col-3 ">
      <img src="/public/images/slider/genetics_mainlogo3_lrg.png" alt="..." style="height:55px">
    </div>

  </div>
</div>
