<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>
    <div class="animated bounce" id="notification-bar">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-11 text-center">
            <center style="font-size:1.2em; font-weight:600">
              <span class="text-danger">New!</span> Generate a list of prioritized genes with genepanel.iobio  &nbsp;
              <a href="https://genepanel.iobio.io/" target="_blank"><button type="button" class="btn btn-outline-danger btn-sm" style="padding:0.25rem 0.75rem"> Get Started</button></a>
            </center>
          </div>
          <div class="col-lg-1 text-center">
            <i class="material-icons" style="vertical-align: middle; cursor:pointer" onclick="closeNotificationBar()">close</i>
          </div>
        </div>
      </div>
    </div>

    <header class="header header-sticky header-transparent" id="header-bar">
      <div class="container">
        <div class="row">
          <nav class="navbar navbar-expand-lg navbar-dark">
            <a href="/" class="navbar-brand" style="font-size: 35px; font-weight: 600;">
              IOBIO
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
              </ul>
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="/applications.html">Applications</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/blog.html">Blog</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/user_guides.html">User Guides</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about.html">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/support.html">Support</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <!-- / header -->
    <!-- <div class="container-fluid"> -->
      {{ content }}
    <!-- </div> -->

    {% include footer.html %}

    <script type="text/javascript">
      function closeNotificationBar(){
        document.querySelector('#notification-bar').style.display = 'none';
        document.querySelector('#header-bar').style.top = '0';
      }
    </script>
  </body>
</html>
