---
layout: blog
comments: true
---

<div class="row justify-content-center">
  <div class="col-md-12 text-center">
    <h1><b>{{ page.title }}</b></h1>
    <p class="card-text" style="font-size:20px">
      <span class="text-muted">{{ page.date | date_to_string }}</span>
      <span style="margin-left:10px"><b><a href="http://marthlab.org/people.html">{{ page.tags  | first }}</a></b></span>
      <span><img class="avatar avatar-sm" src="/public/images/team/{{ page.tags | first | replace:' ','_'  }}.png" alt="Avatar"></span>
    </p>
  </div>
</div>

<div class="post post-main" style="margin-top: 50px;"></div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class='post-image'> <img src={{ page.image }}></img></div>
      <br>
      <div class='post-content' style="font-weight:400; font-size:17px; color: #222; text-align:justify">
        {{ content }}
      </div>

    </div>
  </div>
</div>

  {% if page.comments %}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = 'iobio';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  {% endif %}
</div>

<div class="row justify-content-center" style="margin-top:50px">
  <div class="col-md-6 text-center">
    <h3><b>Related Posts</b></h3>
  </div>
</div>
<br>
<div class="container">
  <div class="row justify-content-center">
      {% for post in site.related_posts limit:3 %}
      <div class="col-lg-4">
        <div class="card lift mb-2">
          <a href="{{ post.url }}">
            <img class="card-img-top blog-card-snippet" alt="{{post.title}}" src={{ post.image }}>
          </a>
          <div class="user">
            <img class="avatar avatar-lg avatar-headshot float-right" src="/public/images/team/{{ post.tags | first | replace:' ','_'  }}.png" alt="Avatar" >
          </div>
          <div class="card-body">
            <a href="{{ post.url }}">
              <h5 class="card-title">{{ post.title }}</h5>
            </a>
            <p class="card-text">{{ post.subtitle }}</p>
            <p class="card-text"><small class="text-muted">BY {{ post.tags | first }} ON {{ post.date | date: "%b %-d, %Y" }}</small></p>
          </div>
        </div>
      </div>
      {% endfor %}
  </div>
</div>
